<div class="wrapper">
    <div class="title-wrapper">
        <h1 class="title">Register new warrior!!</h1>
    </div>
    <form action="/warriors" method="POST">
        <fieldset class="new-warrior">
            <label>Name: <input type="text" name="name" required{{#if message}} value="{{warrior.name}}"{{/if}}></label>
        <label>Strength: <input type="number" name="strength" required min="0" {{#if message}} value="{{warrior.strength}}"{{/if}}></label>
        <label>Defence: <input type="number" name="defence" required min="0" {{#if message}} value="{{warrior.defence}}"{{/if}}></label>
        <label>Stamina: <input type="number" name="stamina" required min="0"{{#if message}} value="{{warrior.stamina}}"{{/if}}></label>
        <label>Agility: <input type="number" name="agility" required min="0"{{#if message}} value="{{warrior.agility}}"{{/if}}></label>
        </fieldset>
        <button type="submit">Save your warrior!</button>
    </form>
    {{> nav}}
</div>
{{#if message}}
<div class="obscure">
    <div class="error">
        <div class="exit">
            <i class="fas fa-times"></i>
        </div>
        <p>{{message}}</p>
    </div>
</div>
<script src="scripts/index.js"></script>
{{/if}}